<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <a class="navbar-brand navImg" href="/">
      <img src="/images/SAC_Logo_Navy_v2_S_Ver2.png" class="d-inline-block align-top" alt="">
    </a>

    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a id="clubNavLink" class="nav-link" href="/" data-base-url="/main">Main Club</a>
        </li>
        <li class="nav-item">
          <a id="clubNavLink" class="nav-link" href="/" data-base-url="/club2">Club II</a>
        </li>
        <li class="nav-item">
          <a id="clubNavLink" class="nav-link" href="/" data-base-url="/eaglepoint">Eagle Point</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allshifts" data-base-url="/allshifts">All Shifts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>