<section class="subNav">

    <div class="subNavLeft">
        <button class="subNavBtn newShiftBtn" id="newShift">New Shift</button>
        <a href="/newChangeRequest">
            <button class="subNavBtn changeReqBtn" id="changeReq">New Change Request</button>
        </a>
    </div>

    <div class="subNavRight">
        <input class="subNavDate" type="date" name="date" id="date">
    </div>

</section>