<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <section class="main">
                <div class="mainButtonsWrap">
                    <a id="homeLink" data-base-url="/main" href="/main"><button class="main3Buttons">Main
                            Club</button></a>
                    <a id="homeLink" data-base-url="/club2" href="/club2"><button class="main3Buttons">Club
                            II</button></a>
                    <a id="homeLink" data-base-url="/eaglepoint" href="/eaglepoint"><button class="main3Buttons">Eagle
                            Point</button></a>
                </div>
            </section>
    </body>
    <%- include('partials/scripts') %>

        </html>