.navbar {
    background: white !important;
    border-bottom: 1px solid #d7d7d7;
    padding: 25px;
}

.navImg img {
    width: 135px;
}

.navbar ul li {
    font-size: 20px;
    margin: 0 11px;
    font-weight: bold;
}

/* below is styling for the sub nav bar */

.subNav {
    height: 100px;
    background: #d7d7d7;
    ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subNav a {
    text-decoration: none;
}

.subNavLeft {
    margin-right: 10px;
}

.subNavLeft,
.subNavRight {
    display: flex;
    align-items: center;
    height: 40px;
}

.subNavBtn,
.subNavDate {
    background: #4d7de1;
    color: white;
    display: inline;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
}

.subNavConfirmBtn {
    padding: 10px;
    background: lime;
    border: none;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 5px 0 0;
}

.subNavBtn:hover {
    transition: all .25s ease-out;
    background: #4673d5;
    cursor: pointer;
}

.subNav ::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.subNav ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


@media (max-width: 991px) {

    .subNavBtn,
    .subNavDate {
        padding: 5px;
        font-size: 15px;
    }

    .subNavConfirmBtn {
        padding: 5px;
        font-size: 15px;
        font-weight: bold;
    }
}

@media (max-width: 600px) {

    .subNavBtn,
    .subNavDate {
        padding: 7px;
        font-size: 11px;
        border-radius: 5px;
        margin: 0 3px;
    }

    .subNavConfirmBtn {
        padding: 7px;
        font-size: 11px;
        font-weight: bold;
        margin: 0 3px 0 0;
    }
}